version: '2.4'

services:

  mesi-io-service:
    build: ./mesi.io
    container_name: mesi-io-service

    ports:
      - 80:8080

    volumes:
      - ./logs/mesi.io:/mesi.io/log

    networks:
      - frontend

  mesi-io-clipboard-service:
    build: ./mesi.clipboard
    container_name: mesi-io-clipboard-service

    volumes:
      - ./logs/mesi.io.clipboard:/mesi.io.clipboard/log

    networks:
      - frontend
      - backend

    depends_on:
      mesi-io-clipboard-db:
        condition: service_healthy

  mesi-io-clipboard-db:
    container_name: mesi-io-clipboard-db
    image: mysql:8.0.18

    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=clipboarddb

    networks:
      - backend

    healthcheck:
      test: /usr/bin/mysql -uroot -proot -e"SELECT 1;"
      start_period: 120s
      interval: 10s
      timeout: 3s
      retries: 2

networks:
  frontend:
  backend:
