version: '2.4'

services:

  mesi-io-service:
    build: ./mesi.io
    container_name: mesi-io-service

    ports:
      - 80:8080
      - 443:443

    volumes:
      - ./logs/mesi.io:/mesi.io/log

    networks:
      - frontend
      - backend

    depends_on:
      mesi-io-db:
        condition: service_healthy

  mesi-io-db:
    container_name: mesi-io-db
    image: mysql:8.0.19

    ports:
      - 3306:3306

    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=mesidb

    networks:
      - backend

    healthcheck:
      test: /usr/bin/mysql -uroot -proot -e"SELECT 1;"
      start_period: 120s
      interval: 10s
      timeout: 3s
      retries: 2

networks:
  frontend:
  backend:
