version: '3.7'

services:
  mesi-io-db:
    image: mongo:4.2.3
    container_name: mesi-io-db

    ports:
      - 27017:27017

    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root