version: '3.7'

services:

  mesi-io-frontend:
    build: ./frontend
    container_name: mesi-io-frontend

    ports:
      - 40100:80

    networks:
      - frontend

    depends_on:
      - mesi-io-user-api

    healthcheck:
      test: curl -f http://localhost:80 || exit 1
      interval: 1m
      timeout: 15s
      retries: 3
      start_period: 1m

  mesi-io-user-api:
    build: ./user-api
    container_name: mesi-io-user-api

    ports:
      - 40200:40200

    networks:
      - frontend
      - backend

    healthcheck:
      test: curl -f http://localhost:40200/heartbeat || exit 1
      interval: 1m
      timeout: 15s
      retries: 3
      start_period: 1m

    depends_on:
      - mesi-io-db

  mesi-io-db:
    image: mongo:4.2.3
    container_name: mesi-io-db
    
    ports:
      - 27017:27017

    networks:
      - backend

    healthcheck:
      test: ["CMD-SHELL", "mongo"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  frontend:
  backend:
