version: '2.4'

services:

  mesiclipboard-service:
    build: .
    container_name: mesiclipboard-service

    ports:
      - 80:8080

    depends_on:
      mesiclipboarddb:
        condition: service_healthy

  mesiclipboarddb:
    container_name: 'mesiclipboarddb'
    image: 'mysql:8.0.18'
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=mesiclipboarddb

    healthcheck:
      test: /usr/bin/mysql -uroot -proot -e"SELECT 1;"
      start_period: 120s
      interval: 10s
      timeout: 3s
      retries: 2
