<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/shared.html :: head"></head>

<body>
<header th:replace="fragments/shared.html :: header"></header>

<main>
    <div th:fragment="main-container" class="pt-3 w-100 main-container m-auto">

        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="add-clipboard-input"
                       placeholder="Add a new clipboard entry ...">
            </div>
            <button type="submit" class="btn bg-dark-custom w-100 text-white">Add</button>
        </form>

        <h5 class="border-bottom border-white pt-3 pb-2">Recently saved clipboards</h5>

        <div>
            <th:block th:each="entry,it : ${clipboardEntries}">
                <div class="shadow p-3 mb-2 bg-dark-custom rounded">
                    <span th:text="${entry.content}"></span>
                    <button class="text-white btn btn-link float-right align-top" th:onclick="javascript:saveToClipboard('clipboard-text-' + ${it.index})"><i class="material-icons">file_copy</i></button>
                </div>
            </th:block>
        </div>

        <div>
            <th:block th:each="entry,it : ${clipboardEntries}">
                <input type="text" readonly class="form-control-plaintext copyable-text text-bg-color" th:id="'clipboard-text-' + ${it.index}" value="${entry.content}">
            </th:block>
        </div>

    </div>
</main>

<footer th:replace="fragments/shared.html :: footer"></footer>
</body>
</html>