$primary-color: #b71c1c;
$primary-dark-color: #7f0000;
$on-primary-color: #ffffff;
$on-primary-dark-color: #ffffff;

$secondary-color: #455a64;
$on-secondary-color: #ffffff;

$surface-color: #ffffff;
$on-surface-color: #000000;

$error-color: #ff0000;
$on-error-color: #ffffff;

.bg-primary {
    background-color: $primary-color !important;
}

.text-on-primary {
    color: $on-primary-color;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.text-on-secondary {
    color: $on-secondary-color;
}
