* {
  padding: 0px;
  margin: 0px;
}

a {
  color: #000000;
}

a:hover {
  color: #111111;
}

.button-primary {
  background-color: #b71c1c !important;
  color: #ffffff !important;
}

.button-primary:hover {
  background-color: #7f0000 !important;
  color: #ffffff !important;
}

html, body {
  height: 100%;
}

main {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px;
}

.dashboard-item-container {
  padding: 6px 5px 6px 5px;
}

.dashboard-item {
  padding: 4px 6px 4px 6px;
}

.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.w-24 {
  width: 24%;
}

.w-49 {
  width: 49%;
}

.hidden {
  height: 0px;
}

.align-bottom-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 2px;
}

/* colors */
.bg-primary {
  background-color: #b71c1c !important;
  color: #ffffff;
}

.bg-on-primary {
  background-color: #ffffff;
}

.text-on-primary {
  color: #ffffff;
}

.bg-secondary {
  background-color: #455a64;
}

.bg-on-secondary {
  background-color: #ffffff;
}

.text-on-secondary {
  color: #ffffff;
}

.bg-error {
  background-color: #ff0000;
}

.bg-on-error {
  background-color: #ffffff;
}

.text-on-error {
  color: #ffffff;
}

.bg-surface {
  background-color: #ffffff;
}

.bg-on-surface {
  background-color: #000000;
}

.text-on-surface {
  color: #000000;
}
