@import './colors.scss';
@import './common.scss';

a {
    color: black;
    &:hover {
        color: #111111;
    }
}

.button-primary {
    background-color: $primary-color !important;
    color: $on-primary-color !important;

    &:hover {
        background-color: $primary-dark-color !important;
        color: $on-primary-dark-color !important;
    }
}

.button-navbar {
    background-color: $primary-color !important;
    color: $on-primary-color !important;

    &:hover {
        background-color: $primary-dark-color !important;
        color: $on-primary-dark-color !important;
    }
}

.dashboard-item-container {
    padding: 6px 5px 6px 5px;
}

.dashboard-item {
    padding: 4px 6px 4px 6px;
    box-shadow: 5px 6px 10px rgb(214, 211, 211);
}
