html,
body {
  width: 100%;
  background-color: #121212;
  color: whitesmoke;
}

.bg-dark-custom {
  background-color: rgb(25, 25, 25);
}

.text-bg-color {
  color: #121212;
}

.main-container {
  max-width: 98%;
}

.bg-red {
  background-color: red;
}

.hidden {
  height: 0px;
}
